<form class="example-form">
  <h4>Selected Cities:</h4>
  <mat-card id="chips">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let city of selectedCities">
      <span class="top-chip">{{city?.name}}<br><span class="little">({{city?.subcountry}} - {{city?.country}})</span></span>      
      <mat-icon (click)="remove(city)" matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-card>
    <mat-form-field class="mt-3 example-full-width">
      <span mat-button matSuffix mat-icon-button>
        <mat-icon>filter_list</mat-icon>
      </span>
    <mat-label>Type to filter by cityname or country</mat-label>

    <input (keyup)="filterCity($event)" [disabled]="!cities" matInput>
  </mat-form-field>
  <mat-card class="float-left w-100">
    <ng-container *ngFor="let filteredCity of filteredCities">
      <div class="w-100 float-left mb-2">
        <mat-checkbox (click)="checkCity($event, filteredCity)" checked="{{filteredList[filteredCity?.geonameid]}}">
          <span class="top">{{filteredCity?.name}}</span>
          <span class="bottom">{{filteredCity?.subcountry}} - {{filteredCity?.country}}</span>
        </mat-checkbox>
      </div>
  </ng-container>
   </mat-card>

</form>
